* {
    font-family: "Poppins", sans-serif;
    color: #1B0412;
}


h1{
    color: #821752
}

body {
    background-color: #F8EFD4;
}

.curriculum {
    display: flex;
    flex-direction: column;
}

.curriculum-photo {
    float: left;
    margin: 10px;
}